---
name: "Lint"
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - "main"
  pull_request:
    branches: ["*"]
    types:
      # NOTE: these are the defaults
      - "opened"
      - "synchronize"
      - "reopened"
      # NOTE: we add this to let the conversion from draft trigger the workflows
      - "ready_for_review"
jobs:
  lint:
    # Uses pre-commit to run all checks
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      # needed for pre-commit
      - uses: "actions/setup-python@v6"
        with:
          python-version: "3.11"
      - uses: "actions/setup-dotnet@v5"
        with:
          dotnet-version: '8.x'
      - uses: "j178/prek-action@v1"

  conventional-commits:
    name: "Lint Commit Messages"
    runs-on: "depot-ubuntu-24.04-small"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "webiny/action-conventional-commits@v1.3.0"
